[Unit]
Description=Beven web server
After=network.target redis.service

[Service]
Type=simple
User=nobody
Group=nobody
Environment="MARTINI_ENV=production"
ExecStart=/var/www/beven/beven
PrivateDevices=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
LimitNOFILE=10032

[Install]
WantedBy=multi-user.target
